/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

/** {
  outline: red 1px solid;
}*/

/******* GENERAL BODY AND WRAPPER *******/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ECF0F1;
    padding: 0;
    margin: 0;
    color: #17A3A5;
}

.main {
	width: 700px;
	margin: 45px auto 0;
}

input:focus, button:focus {
	outline: none;
}

h1 {
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	font-size: 70px;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.3em;
	color: #FFF;
}

h3 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.1em;
	color: #8DBF67;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #8DBF67;
}

/******* LOGO *******/

span {
	color: #FC6E59;
}

/******* TEXT *******/

.text {
	margin-top: 40px; 
}

/******* INPUT *******/

.add {
	position: relative;
	text-align: center;
	margin: 30px auto 0;
	width: 500px;
}

input {
	width: 500px;
	height: 55px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.1em;
	color: #17A3A5;	
	padding: 5px;
	border: 3px solid #8DBF67;
}

.add-btn {
	position: absolute;
	top: 2px;
	right: 0;
	width: 50px;
	height: 50px;
	background-image: url('../img/cross.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #8DBF67;
	border: 0;
}

/******* ITEMS *******/

.del-btn, .check-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 55px;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
}

.list {
	width: 500px;
	margin: 20px auto;
	text-align: right;
}

li {
	text-align: left;
	position: relative;
	height: 55px;
	background-color: #DEE4E8;
	margin-top: 10px;
	padding-left: 5px;
	line-height: 55px;	
}

.del-btn {
	background-image: url('../img/delete.png');
	background-color: #FC6E59;
}

.check-btn {
	right: 50px;
	background-image: url('../img/tick.png');
	background-color: #17A3A5;
}

.clr-btn {
	margin-top: 20px;
	width: 100px;
	height: 55px;
	background-color: #225B66;
	border: 0;
}

.check {
	background-color: #17A3A5;
}

.check h3 {
	color: #FFF;
}